<div class="d-flex flex-wrap mx-lg-5 my-5 ">
<% @events.each do |event| %>

    <div class="mx-2 my-3 card"style="width:220px">
        <article class="card-body">
            <div class="media-left">
                <figure class="image is-64x64">
                    <%# <%=gravatar_image_tag(event.user.email,size:64,alt:event.user.name) %>
                <%= image_tag 'default/tree.jpg', class:"img-fluid rounded mx-auto d-block"%>

                </figure>
            </div>
            <div class="media-content">
                <div class="content" style="margin-bottom:40px">
                   <span> <strong><%= event.title %></strong> at <strong><%= event.location%></strong></span>
                    <br/>
                    <strong>Date: <%= event.date%></strong><br/>
                    <strong>Creater: <%= event.user.name%></strong><br/>
                    <span><%=event.disc %></span>
                    
                    <p>Price:<%= event.price%></p><br/>                    
                </div>
                <%if user_signed_in? %>
                <div class="level" >
                    <div class="level-left is-mobile">
                        <%= link_to event, class: "level-item icons" do %>
                        
                             <span class="icon mx-1">
                                <i class="bi bi-link"aria-hidden="true" style="width:10px ;margin-bottom:10px"></i></span>
                                <%end%>                     
                                 <%# <%= link_to attend_event_path(event), method: :post, confirm: 'really?' do%>
                               <%# <%= link_to 'like', event_upvote_path(event), method: :put ,class:"mx-1"%>
                               <i class="bi bi-bookmark mx-1" ></i>                                
                    </div>                                
                </div>          
                <%end%>         
            </div>
        </article>
    </div>

    <%end%>
    </div>